#navbar {

    margin-left: 0.4rem;
    margin-right: 0.4rem;

    background-color: black;

    a {
        color: whitesmoke;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        border-radius: 0%;
    }

    a:hover {
        background-color: azure;
        color: black;
        border: black 1px solid;
        -webkit-transition: background 0.4s 0.1s ease;
        -moz-transition: background 0.4s 0.1s ease;
        -o-transition: background 0.4s 0.1s ease;
        transition: background 0.4s 0.1s ease;
    }

    a:active {

        background-color: azure;
        color: black;
        border: black 1px solid;
    }

    li {
        font-size: 1.2rem;
    }
}
